
@import url("https://fonts.google.com/specimen/Work+Sans");


body{
    font-size: 16px;
    margin:0;
    
}


.container{
    display:block;
    position:fixed;
    background-color: hsl(275, 100%, 97%);
    color: hsl(292, 42%, 14%);
    min-height: 100vh;
    height:100%;
    width:100%;
}


.background-image{
    height:auto;
}

.content{
    display:flex;
    flex-direction: column;
    width: 33%;
    font-family: "Work Sans", Roboto;
    position:absolute;

    background-color: hsl(0, 0%, 100%);
    left:0;
    right:0;
    top:0;
    margin: 15% auto;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 20px;

}


.content-title{
    margin: 0px 33px;
    display:flex;
    gap: 1em;
    font-size: 2em;
    font-weight: 700;
    padding: 0px;
}

.content-title span{
    display: flex;
    font-size: 1.5em;
    left: 0;
}

.title-star{
    display:flex;
    justify-content: space-evenly;
}

.question-main{
    margin: 0px 33px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.main-question{
    
    display:grid;
    padding: 0;
    grid-template-columns: 90% 10%;
}

.question-main-title{
    font-weight: 900;
}

.question-main-logo{
    display:flex;
    justify-self: center;
    align-self: center;
}

.question-main-content{
    grid-area: description;
    color: hsl(292, 16%, 49%);
}

.other-questions{
    margin: 0px 40px;

    display: flex;
    flex-direction: column;
}

.other-questions section{
    border-top: 1px solid hsl(275, 100%, 97%);
    display:grid;
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-weight:900;
    grid-template-columns: 90% 10%;
    
}

/* .other-question section p{
     */
/* } */

.other-questions section img{
    display:flex;
    align-self: center;
    justify-self:center;
}

@media screen and (min-width: 200px) {
    .content{
        width:  80%;
        margin: 33% auto;
    }

    .background-image{

        height: 30vh;
    }
    
}

@media screen and (min-width: 800px) {
    .content{
        width: 33%;
        margin: 15% auto;
    }

    .background-image{
        min-width:  100%;
        max-width:  100%;
        height: auto;
    }
    
}